.wrap {
    background: white;
}
#contentsBanner {
    width: 100%;
    height: 340px;
    background: url(../images/news/bg.jpg)  #a1969a repeat-x center top;
}
#ContentWrap {
    margin: 0 auto;
    width: 960px;
    padding-bottom: 60px;
    background: white;
}

.headline {
    margin: 80px auto 30px auto;
    text-align: center;
}

.headline h2 {
    font-size: 18px;
}

.headline div {
    font-size: 22px;
}

.table {
    margin-bottom: 50px;
    text-align: left;
}

.table thead th {
    padding: 3px 25px;
    background: black;
    color: white;
}

.table tbody td {
    padding: 10px 25px;
}

.table tbody tr:nth-child(2n) {
    background: #ececec;
}

.table tbody .date {
    text-align: right;
}

.paging li {
    float: left;
}

.paging li .num {
    display: block;
    margin: 0 4px;
    padding: 3px 6px;
    background: #3e3d3d;
    border-radius: 50px;
    line-height: 1;
    color: #FFF;
}
.paging li .num.active {
    background: #e87a8d;
}
.left, .right {
    display: block;
    margin: 4px 15px;
    width: 10px;
    height: 12px;
}
.left {
    background: url(../images/news/left.jpg) no-repeat center center;
}
.right {
    background: url(../images/news/right.jpg) no-repeat center center;
}